body {
    flex: auto;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("Photos/Candles.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: 200%;
    overflow: hidden;
  }
  
  .title{
    margin: auto;
    background-color: rgba(240, 248, 255, 0.071);
    font-size: 12%;
    /* font-style: oblique; */
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    color: aqua;
    position: absolute;
    top: 200px;
    left: 100px;
    font-size: 150%;
    padding: 10px; 
    width: 50%; 
    overflow: hidden; /* Hide overflowing text */
    /* border-right: .15em solid rgb(0, 0, 0); */
    /* white-space: wrap; */
    margin: 0 auto;
    animation: typing 2.5s steps(40, end);

  }

@keyframes typing {
    from { width: 0; }
    to { width: 50%; } 
    from { height: 0; } 
    to { height: 35%; } 
    
}

.img{
  position: absolute;
  top: 60px;
  left: 100px;
}

.AboutUs {
  display: inline-block;
  padding: 10px 20px;
  position: absolute;
  /* top: 70px;
  left: 1200px; */
  font-size: 40px;
  color: #000000;
  background-color: #d6d316;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s;
  list-style: none;
  text-decoration: none;
}

.AboutUs::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.AboutUs:hover::after {
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  /* box-shadow: 2px 4px 5px solid black; */
}


.AboutUs span {
  position: relative;
  z-index: 1;
  color: #fff;
}
/* body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
}

.navbar ul li a:hover {
  background-color: #555;
}

.content {
  padding: 20px;
  text-align: center;
}

.content h1 {
  color: #333;
}

.content p {
  color: #666;
} */