/* .carousel {
  position: relative;
  max-width: 600px;
  margin: auto;
}

.carousel-images {
  display: flex;
  overflow: hidden;
}

.carousel-images img {
  width: 100%;
  transition: transform 0.5s ease;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.carousel button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 0;
}

.next {
  right: 0;
} */
